/Program/nbproject/private/
/Program/build/
/Program/dist/
/Serwer/Serwer/nbproject/private/
/Serwer/Serwer/build/
/Klient/Klient/nbproject/private/
/Klient/Klient/build/
/Klient/Klient/dist/
/other/nbproject/private/
/other/build/
/Serwer/Serwer/dist/
/JumpingJackServer/nbproject/private/
/JumpingJackServer/build/
/JumpingJackServer/dist/
/MapCreator/build/
/MapCreator/dist/
/MapCreator/nbproject/private/